<html>
<head>
<title>Premium URL Shortening Service</title>
</head>
<body>
<form method="post" action="/">
  <p>
    URL: <input type="text" name="url" />
    &nbsp; <input type="submit">
  </p>
</form>
</body>
</html>

