<html>
<head>
<title>Premium URL for {{url}}</title>
</head>
<body>
<p>Your Premium-Shortened URL: <span class="url">{{base}}/{{token}}</span></p>
<p>Your Removal URL: <span class="url">{{base}}/{{token}}/remove/{{remove-code}}</span></p>
</body>
</html>

