<html>
<head>
<title>Premium URL for {{url}}</title>
</head>
<body>
<p>Your Premium-Shortened URL: <div class="url">{{base}}/{{token}}</div></p>
<p>Your Removal URL: <div class="url">{{base}}/{{token}}/remove/{{remove-code}}</div></p>
</body>
</html>

